In [1]:
# Dependcies
import pandas as pd
import glob

In [2]:
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
headers_df = pd.read_csv('headers/headers.csv')

In [4]:
colnames = list(headers_df)

In [5]:
colnames

['date',
 'tTime',
 'sequenceNbr',
 'sessionInd',
 'symbol',
 'CPF',
 'contractDelivery',
 'volume',
 'strikePrice',
 'tPrice',
 'AB',
 'IND',
 'MKQ',
 'CO',
 'VOE',
 'PC',
 'CAN',
 'INS',
 'FL',
 'CAB',
 'BKI',
 'entryDate',
 'exchCode']

In [ ]:
# day1 = pd.read_csv('20180502-TICK_xnym_ng_fut_0-eth.csv', names=colnames, header=None)

In [ ]:
# day1.dtypes

In [ ]:
# day1.infer_objects()

In [ ]:
# day1.columns[6]

In [ ]:
# day1.drop(day1.columns[5], axis=1, inplace=True)
# day1.shape

In [6]:
# Read all market data files and create one large pandas dataframe
# path =r'C:\DRO\DCL_rawdata_files' # use your path
allFiles = glob.glob("*.csv")
frame = pd.DataFrame()
bigData = pd.DataFrame()
for file_ in allFiles:
    print(file_)
    df = pd.read_csv(file_,names=colnames, header=None)
    bigData = bigData.append(df)

20180516-TICK_xnym_ng_fut_0-eth.csv
20180523-TICK_xnym_ng_fut_0-eth.csv
20180507-TICK_xnym_ng_fut_0-eth.csv
20180524-TICK_xnym_ng_fut_0-eth.csv
20180528-TICK_xnym_ng_fut_0-eth.csv
20180511-TICK_xnym_ng_fut_0-eth.csv
20180510-TICK_xnym_ng_fut_0-eth.csv
20180525-TICK_xnym_ng_fut_0-eth.csv
20180529-TICK_xnym_ng_fut_0-eth.csv

/Users/scott/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

20180522-TICK_xnym_ng_fut_0-eth.csv
20180517-TICK_xnym_ng_fut_0-eth.csv
20180501-TICK_xnym_ng_fut_0-eth.csv
20180508-TICK_xnym_ng_fut_0-eth.csv
20180504-TICK_xnym_ng_fut_0-eth.csv
20180531-TICK_xnym_ng_fut_0-eth.csv
20180503-TICK_xnym_ng_fut_0-eth.csv
20180515-TICK_xnym_ng_fut_0-eth.csv
20180502-TICK_xnym_ng_fut_0-eth.csv
20180518-TICK_xnym_ng_fut_0-eth.csv
20180514-TICK_xnym_ng_fut_0-eth.csv
20180521-TICK_xnym_ng_fut_0-eth.csv
20180530-TICK_xnym_ng_fut_0-eth.csv
20180509-TICK_xnym_ng_fut_0-eth.csv

In [7]:
bigData.shape

(965254, 23)

In [8]:
bigData.columns

Index(['date', 'tTime', 'sequenceNbr', 'sessionInd', 'symbol', 'CPF', 'contractDelivery', 'volume', 'strikePrice', 'tPrice', 'AB', 'IND', 'MKQ', 'CO', 'VOE', 'PC', 'CAN', 'INS', 'FL', 'CAB', 'BKI', 'entryDate', 'exchCode'], dtype='object')

In [9]:
bigData.head()

       date     tTime  sequenceNbr sessionInd symbol CPF  contractDelivery  volume  strikePrice  tPrice  AB  IND  MKQ   CO  VOE  PC  CAN  INS  FL  CAB  BKI  entryDate exchCode
0  20180516  17:00:00      1488771          E     NG   F              1806      16          0.0   2.827 NaN  NaN  NaN  NaN  NaN NaN  NaN  NaN NaN  NaN  NaN   20180515     XNYM
1  20180516  17:00:00      1488778          E     NG   F              1806       0          0.0   2.827 NaN  NaN  NaN    O  NaN NaN  NaN  NaN NaN  NaN  NaN   20180515     XNYM
2  20180516  17:00:00      1488783          E     NG   F              1806       2          0.0   2.829 NaN  NaN  NaN  NaN  NaN NaN  NaN  NaN NaN  NaN  NaN   20180515     XNYM
3  20180516  17:00:00      1488784          E     NG   F              1806       2          0.0   2.830 NaN  NaN  NaN  NaN  NaN NaN  NaN  NaN NaN  NaN  NaN   20180515     XNYM
4  20180516  17:00:00      1488785          E     NG   F              1806       8          0.0   2.831 NaN  NaN  NaN  NaN  NaN NaN  NaN  NaN NaN  NaN  NaN   20180515     XNYM