In [1]:
# Dependcies
import pandas as pd
import glob
import datetime
import time

In [2]:
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
headers_df = pd.read_csv('headers/headers.csv')

In [4]:
colnames = list(headers_df)

In [5]:
colnames

['date',
 'tTime',
 'sequenceNbr',
 'sessionInd',
 'symbol',
 'CPF',
 'contractDelivery',
 'volume',
 'strikePrice',
 'tPrice',
 'AB',
 'IND',
 'MKQ',
 'CO',
 'VOE',
 'PC',
 'CAN',
 'INS',
 'FL',
 'CAB',
 'BKI',
 'entryDate',
 'exchCode']

In [6]:
# Read all market data files and create one large pandas dataframe
# path =r'C:\DRO\DCL_rawdata_files' # use your path
allFiles = glob.glob("*.csv")
frame = pd.DataFrame()
bigData = pd.DataFrame()
for file_ in allFiles:
    print(file_)
    df = pd.read_csv(file_,names=colnames, header=None)
    bigData = bigData.append(df)

20180607-TICK_xnym_ng_fut_0-eth.csv
20180516-TICK_xnym_ng_fut_0-eth.csv
20180523-TICK_xnym_ng_fut_0-eth.csv
20180611-TICK_xnym_ng_fut_0-eth.csv
20180628-TICK_xnym_ng_fut_0-eth.csv
20180507-TICK_xnym_ng_fut_0-eth.csv
20180524-TICK_xnym_ng_fut_0-eth.csv
20180528-TICK_xnym_ng_fut_0-eth.csv
20180511-TICK_xnym_ng_fut_0-eth.csv
20180622-TICK_xnym_ng_fut_0-eth.csv
20180601-TICK_xnym_ng_fut_0-eth.csv
20180510-TICK_xnym_ng_fut_0-eth.csv
20180525-TICK_xnym_ng_fut_0-eth.csv
20180529-TICK_xnym_ng_fut_0-eth.csv

/Users/scott/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

20180522-TICK_xnym_ng_fut_0-eth.csv
20180606-TICK_xnym_ng_fut_0-eth.csv
20180517-TICK_xnym_ng_fut_0-eth.csv
20180629-TICK_xnym_ng_fut_0-eth.csv
20180625-TICK_xnym_ng_fut_0-eth.csv
20180501-TICK_xnym_ng_fut_0-eth.csv
20180615-TICK_xnym_ng_fut_0-eth.csv
20180508-TICK_xnym_ng_fut_0-eth.csv
20180504-TICK_xnym_ng_fut_0-eth.csv
20180619-TICK_xnym_ng_fut_0-eth.csv
20180531-TICK_xnym_ng_fut_0-eth.csv
20180620-TICK_xnym_ng_fut_0-eth.csv
20180627-TICK_xnym_ng_fut_0-eth.csv
20180612-TICK_xnym_ng_fut_0-eth.csv
20180503-TICK_xnym_ng_fut_0-eth.csv
20180604-TICK_xnym_ng_fut_0-eth.csv
20180608-TICK_xnym_ng_fut_0-eth.csv
20180515-TICK_xnym_ng_fut_0-eth.csv
20180613-TICK_xnym_ng_fut_0-eth.csv
20180502-TICK_xnym_ng_fut_0-eth.csv
20180626-TICK_xnym_ng_fut_0-eth.csv
20180518-TICK_xnym_ng_fut_0-eth.csv
20180605-TICK_xnym_ng_fut_0-eth.csv
20180514-TICK_xnym_ng_fut_0-eth.csv
20180521-TICK_xnym_ng_fut_0-eth.csv
20180530-TICK_xnym_ng_fut_0-eth.csv
20180621-TICK_xnym_ng_fut_0-eth.csv
20180614-TICK_xnym_ng_fut_0-eth.csv
20180509-TICK_xnym_ng_fut_0-eth.csv
20180618-TICK_xnym_ng_fut_0-eth.csv

In [7]:
bigData.shape

(1891977, 23)

In [8]:
bigData.columns

Index(['date', 'tTime', 'sequenceNbr', 'sessionInd', 'symbol', 'CPF', 'contractDelivery', 'volume', 'strikePrice', 'tPrice', 'AB', 'IND', 'MKQ', 'CO', 'VOE', 'PC', 'CAN', 'INS', 'FL', 'CAB', 'BKI', 'entryDate', 'exchCode'], dtype='object')

In [9]:
bigData.head()

       date     tTime  sequenceNbr sessionInd symbol CPF  contractDelivery  volume  strikePrice  tPrice  AB  IND  MKQ   CO  VOE  PC  CAN  INS  FL  CAB  BKI  entryDate exchCode
0  20180607  17:00:00      2177618          E     NG   F              1807       3          0.0   2.900 NaN  NaN  NaN  NaN  NaN NaN  NaN  NaN NaN  NaN  NaN   20180606     XNYM
1  20180607  17:00:00      2177625          E     NG   F              1807       0          0.0   2.900 NaN  NaN  NaN    O  NaN NaN  NaN  NaN NaN  NaN  NaN   20180606     XNYM
2  20180607  17:00:00      2177652          E     NG   F              1807       1          0.0   2.900 NaN  NaN  NaN  NaN  NaN NaN  NaN  NaN NaN  NaN  NaN   20180606     XNYM
3  20180607  17:00:01      2177675          E     NG   F              1807       2          0.0   2.899 NaN  NaN  NaN  NaN  NaN NaN  NaN  NaN NaN  NaN  NaN   20180606     XNYM
4  20180607  17:00:01      2177683          E     NG   F              1807       1          0.0   2.899 NaN  NaN  NaN  NaN  NaN NaN  NaN  NaN NaN  NaN  NaN   20180606     XNYM

In [10]:
# Code for creating the day of week for the trade

bigData['stringDate'] = bigData['date'].astype(str)
bigData['dow'] = pd.to_datetime(bigData['stringDate'],format='%Y%m%d').dt.weekday_name
bigData['month'] = pd.to_datetime(bigData['stringDate'],format='%Y%m%d').dt.month

In [11]:
bigData.head()

       date     tTime  sequenceNbr sessionInd symbol CPF  contractDelivery  volume  strikePrice  tPrice  AB  IND  MKQ   CO  VOE  PC  CAN  INS  FL  CAB  BKI  entryDate exchCode stringDate       dow  month
0  20180607  17:00:00      2177618          E     NG   F              1807       3          0.0   2.900 NaN  NaN  NaN  NaN  NaN NaN  NaN  NaN NaN  NaN  NaN   20180606     XNYM   20180607  Thursday      6
1  20180607  17:00:00      2177625          E     NG   F              1807       0          0.0   2.900 NaN  NaN  NaN    O  NaN NaN  NaN  NaN NaN  NaN  NaN   20180606     XNYM   20180607  Thursday      6
2  20180607  17:00:00      2177652          E     NG   F              1807       1          0.0   2.900 NaN  NaN  NaN  NaN  NaN NaN  NaN  NaN NaN  NaN  NaN   20180606     XNYM   20180607  Thursday      6
3  20180607  17:00:01      2177675          E     NG   F              1807       2          0.0   2.899 NaN  NaN  NaN  NaN  NaN NaN  NaN  NaN NaN  NaN  NaN   20180606     XNYM   20180607  Thursday      6
4  20180607  17:00:01      2177683          E     NG   F              1807       1          0.0   2.899 NaN  NaN  NaN  NaN  NaN NaN  NaN  NaN NaN  NaN  NaN   20180606     XNYM   20180607  Thursday      6

In [12]:
# Create Kloug timefields

bigData['kTimeYear'] = pd.to_datetime(bigData['date'], format = '%Y%m%d')
bigData['kTimeTime'] = pd.to_datetime(bigData['tTime'], format= '%H:%M:%S').dt.time
bigData['kTime'] = bigData['kTimeYear'].astype(str) + "/" + bigData['kTimeTime'].astype(str)
bigData['kTime'] = pd.to_datetime(bigData['kTime'], format = '%Y-%m-%d/%H:%M:%S')


import datetime as dt
bigData_df = bigData.sort_values('kTime')
bigData_df['kTime'] = (bigData_df['kTime'] + dt.timedelta(hours=5))
bigData_df = bigData_df.sort_values('kTime')
bigData_df.head()

           date     tTime  sequenceNbr sessionInd symbol CPF  contractDelivery  volume  strikePrice  tPrice  AB  IND  MKQ   CO  VOE  PC  CAN  INS  FL  CAB  BKI  entryDate exchCode stringDate      dow  month  kTimeYear kTimeTime               kTime
867    20180501  00:00:00       729831          E     NG   F              1806       2          0.0   2.776 NaN  NaN  NaN  NaN  NaN NaN  NaN  NaN NaN  NaN  NaN   20180501     XNYM   20180501  Tuesday      5 2018-05-01  00:00:00 2018-05-01 05:00:00
42322  20180501  00:00:00       559974          E     NG   F              1811       1          0.0   2.856 NaN  NaN  NaN  NaN  NaN NaN  NaN  NaN NaN  NaN  NaN   20180501     XNYM   20180501  Tuesday      5 2018-05-01  00:00:00 2018-05-01 05:00:00
39321  20180501  00:00:00       575765          E     NG   F              1809       1          0.0   2.802 NaN  NaN  NaN  NaN  NaN NaN  NaN  NaN NaN  NaN  NaN   20180501     XNYM   20180501  Tuesday      5 2018-05-01  00:00:00 2018-05-01 05:00:00
37771  20180501  00:00:00       569903          E     NG   F              1808       1          0.0   2.819 NaN  NaN  NaN  NaN  NaN NaN  NaN  NaN NaN  NaN  NaN   20180501     XNYM   20180501  Tuesday      5 2018-05-01  00:00:00 2018-05-01 05:00:00
30511  20180501  00:00:00       571225          E     NG   F              1807       1          0.0   2.812 NaN  NaN  NaN  NaN  NaN NaN  NaN  NaN NaN  NaN  NaN   20180501     XNYM   20180501  Tuesday      5 2018-05-01  00:00:00 2018-05-01 05:00:00

In [13]:
bigData_df.shape

(1891977, 29)

In [14]:
bigData_df = bigData_df.drop(["AB",'IND','MKQ','VOE','PC','CAN','INS','FL','CAB','BKI'], axis=1)
bigData_df = bigData_df[(bigData_df.CO != "O") & (bigData_df.volume != 0)]
bigData_df.count()

date                1890711
tTime               1890711
sequenceNbr         1890711
sessionInd          1890711
symbol              1890711
CPF                 1890711
contractDelivery    1890711
volume              1890711
strikePrice         1890711
tPrice              1890711
CO                        0
entryDate           1890711
exchCode            1890711
stringDate          1890711
dow                 1890711
month               1890711
kTimeYear           1890711
kTimeTime           1890711
kTime               1890711
dtype: int64

In [15]:
bigData_df = bigData_df.drop(['CO'], axis=1)

In [16]:
bigData_df.count()

date                1890711
tTime               1890711
sequenceNbr         1890711
sessionInd          1890711
symbol              1890711
CPF                 1890711
contractDelivery    1890711
volume              1890711
strikePrice         1890711
tPrice              1890711
entryDate           1890711
exchCode            1890711
stringDate          1890711
dow                 1890711
month               1890711
kTimeYear           1890711
kTimeTime           1890711
kTime               1890711
dtype: int64

In [17]:
bigData_df = bigData_df.drop(["sequenceNbr",'CPF','exchCode','symbol','strikePrice','sessionInd','kTimeYear', 'kTimeTime'], axis=1)

In [18]:
bigData_df = bigData_df.drop(["stringDate"], axis=1)

In [19]:
bigData_df.count()

date                1890711
tTime               1890711
contractDelivery    1890711
volume              1890711
tPrice              1890711
entryDate           1890711
dow                 1890711
month               1890711
kTime               1890711
dtype: int64

In [20]:
bigData_df.dtypes

date                         int64
tTime                       object
contractDelivery             int64
volume                       int64
tPrice                     float64
entryDate                    int64
dow                         object
month                        int64
kTime               datetime64[ns]
dtype: object

In [21]:
bigData_df.head()

           date     tTime  contractDelivery  volume  tPrice  entryDate      dow  month               kTime
867    20180501  00:00:00              1806       2   2.776   20180501  Tuesday      5 2018-05-01 05:00:00
42322  20180501  00:00:00              1811       1   2.856   20180501  Tuesday      5 2018-05-01 05:00:00
39321  20180501  00:00:00              1809       1   2.802   20180501  Tuesday      5 2018-05-01 05:00:00
37771  20180501  00:00:00              1808       1   2.819   20180501  Tuesday      5 2018-05-01 05:00:00
30511  20180501  00:00:00              1807       1   2.812   20180501  Tuesday      5 2018-05-01 05:00:00

In [25]:
# Save the dataframe to 

bigData.to_csv('savedData/bigData.csv', header=True)